body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}

.nopadding [class*="col-"] {
    padding: 0;
}

* > * a{
    text-decoration: none;
}

.ftop{
    background-color: #F4F6F6;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.middle .top{
    padding: 10px 0px 10px 0px;
}

.ftop li{
    font-size: 12px;
    display: inline-block;
}

.top li a{
    text-decoration: none;
    color: black;
}

.top li a:hover{
    color: #c00;
    transition: all ease-in-out 0.3s;
}

.top .ftop ul li:not(:first-child):after{
    content: "/";
    display: inline-block;
    padding-left: 6px;
    color: #666
}

*, :after, :before {
    box-sizing: inherit;
}

ul li {
    list-style-type: none;
}

.middle{
    background-color: #fff;
    width: 99%;
}

.login-btn a{
    text-decoration: none;
    color: #c00;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    padding: 5px;
    font-size: 13px;
}

.login-btn a:hover{
    background-color: black;
    color: white;
    transition: all ease-in-out 0.5s;
}

.left{
    display: flex;
    align-items: center;
    justify-content: center;
}

.left li{
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 5px 0px 5px;
}

.left ul .lineLf{
    border-left: solid 1px #BEBEBE;
}

.left li img{
    width: 40px;
    padding-right: 5px;
}

.right{
    display: flex;
    align-items: center;
    justify-content: center;
}

.right .btn-group > *{
    font-size: 13px !important;
}

.btn-group button{
    background-color: transparent;
    border: 1px solid #e2e2e2;
    color: black;
}

form{
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Navbar */

.main-navbar{
    width: 100%;
    background-color: #c00;
    display: flex;
}

.items li{
    display: inline-block;
}

.main-navbar .items ul li a{
    color: white;
    text-decoration: none;
}

/* News */

.red-text{
    color: #c00;
}

.news >* img{
    width: 100%;
}

.news >* .tittle{
    font-weight: bolder;
}

.news >* .autor{
    font-weight: bolder;
    font-size: 12px;
}

.main .tittle{
    font-size: 35px;
}

.nm .tittle{
    font-size: 20px;
}

.nm{
    background-color: #F3F3F3;
}

@media (max-width: 991px){
    .top{
        display: none;
    }

    .middle{
        display: none;
    }
}