body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.nopadding [class*="col-"] {
    padding: 0;
}

* > * a{
    text-decoration: none;
}

.ftop{
    background-color: #F4F6F6;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.middle .top{
    padding: 10px 0px 10px 0px;
}

.ftop li{
    font-size: 12px;
    display: inline-block;
}

.top li a{
    text-decoration: none;
    color: black;
}

.top li a:hover{
    color: #c00;
    transition: all ease-in-out 0.3s;
}

.top .ftop ul li:not(:first-child):after{
    content: "/";
    display: inline-block;
    padding-left: 6px;
    color: #666
}

*, :after, :before {
    box-sizing: inherit;
}

ul li {
    list-style-type: none;
}

.middle{
    background-color: #fff;
    width: 99%;
}

.login-btn{
    padding-left: 8px;
}

.login-btn a{
    text-decoration: none;
    color: #c00;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    padding: 5px;
    font-size: 13px;
}

.login-btn a:hover{
    background-color: black;
    color: white;
    transition: all ease-in-out 0.5s;
}

.left{
    display: flex;
    align-items: center;
    justify-content: center;
}

.left li{
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 5px 0px 5px;
}

.left ul .lineLf{
    border-left: solid 1px #BEBEBE;
}

.left li img{
    width: 40px;
    padding-right: 5px;
}

.right{
    display: flex;
    align-items: center;
    justify-content: center;
}

.right .btn-group > *{
    font-size: 13px !important;
}

.right .btn-flag{
    color: #c00;
}

.right .btn-flag:hover{
    background-color: black;
    color: white;
}

.btn-group button{
    background-color: transparent;
    border: 1px solid #e2e2e2;
    color: black;
}

form{
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Navbar */

.main-navbar{
    width: 100%;
    background-color: #c00;
    display: flex;
}

.main-navbar>*{
    font-weight: bold;
}

.items li{
    display: inline-block;
    padding: 10px;
    font-size: 18px;
    margin-left: 2.1rem;
}

.items li:hover{
    background-color: #141d25f7;
}

.main-navbar .items ul li a{
    color: white;
    text-decoration: none;
}

.navlg > *{
    display: none !important;
    color: white !important;
}

.navlg .navbar-toggler{
    color: white !important;
}

.navlg .navbar-toggler{
    float: right;
}

/* Responsive navbar */

.responsive-nav img{
    background-color: white;
    margin-left: 20px;
    -webkit-transform: skew(20deg);
     -moz-transform: skew(20deg);
     -ms-transform: skew(20deg);
     -o-transform: skew(20deg);
     transform: skew(-10deg);
}

/*submain navbar*/
.mex{
    display: none;
    position: absolute;
    z-index: 1;
}

.items ul .futbol a:hover + .mex{
    display: block;
}

.motor{
    display: none;
    position: absolute;
    z-index: 1;
}

.nflsc{
    display: none;
    position: absolute;
    z-index: 1;
}

.otrosDeportes{
    display: none;
    position: absolute;
    z-index: 1;
}

.sub{
    width: 95%;
    background-color: #141d25f7;
    margin-left: 2.1rem;
    height: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.sub li a{
    list-style: none;
    text-decoration: none;
}

.sub li a:hover{
    color: #c00;
    transition: all ease-in-out 0.3s;
}

.main-title{
    color: #c2c2c2;
    font-weight: bold;
    opacity: .5;
    font-size: 1.1rem;
    padding: 8px 0px 8px 0px;
}

.sub-title{
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
}

.item-text{
    color: #c2c2c2;
    font-size: .8rem;
    font-weight: bold;
}

/* bottom navbar */
.bottom-navbar{
    background-color: #EBEBEB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0px 5px 0px;
}

.bottom-navbar .items-logos ul li{
    display: inline-block;
}

/* News */

.news{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    padding-top: 20px;
}

.main{
    grid-row: span 2;
    grid-column: span 2;
}

.n2{
    border-radius: 5px;
}

.n3{
    border-radius: 5px;
}

.red-text{
    color: #c00;
    font-weight: bold;
    font-size: 12px;
}

.news >* img{
    width: 100%;
}

.news >* .tittle{
    font-weight: bolder;
}

.news >* .autor{
    font-weight: bolder;
    font-size: 12px;
}

.news2 >* .autor{
    font-weight: bolder;
    font-size: 12px;
}

.main .title{
    font-size: 2rem;
}

.nm .title{
    font-size: 20px;
}

.news2 .gr{
    background-color: #F3F3F3;
}

.news2 .title{
    font-size: 20px;
}

.nm{
    background-color: #F3F3F3;
}

@media (max-width: 991px){
    .top{
        display: none;
    }

    .middle{
        display: none;
    }

    .bottom-navbar{
        display: none;
    }

    .main-navbar{
        display: none;
    }

    .navlg > *{
        display: block !important;
    }
}

@media (max-width: 768px){
    .news{
        display: inline-block;
    }
}